{% extends "base.html"%}

{% block content %}
<main class ="main main--about">
    <img src = "./static/img/Koravich Sangkaew_photo.jpg"/>
    <p>
        🎓 Hi, I'm Koravich! I am a fresh post-graduate Data Science student @QMUL who is fascinated with AI technology such as NLP, Computer Vision, and Cloud Computing. I am also seeking the job in Data scientist, Data Engineer, and ML Engineer.
    </p>
    <p>
        🖥️ Self-learning in AI cutting edge technology, coding, and sharing the knowledge in the community are the lover in my journey as well as looking for collaboration on github.
    </p>
    <p>
        🎯 Apart from tech-coding, I am also range from anime-lover, gamer, to chocolate-lover. This is what my fully fuel. Let me know if you are same gangs😉
    </p>
    <p>
        👋 Nice to meet you all. Click the links section below to know more...
    </p>
</main>
{% endblock %}