{% extends "base.html" %}

{% block content %}
<main class = "main main--content">
    <di>
        <div class="contact">
            <dt>Email:</dt>
            <dd class ="contact__details">
                <a class="contact__link" href="mailto:kwankoravich@hotmail.com">
                    kwankoravich@hotmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class ="contact__details">
                <a class="contact__link" href="github.com/kwankoravich" target="_blank">
                    @kwankoravich
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Linkedin:</dt>
            <dd class ="contact__details">
                <a class="contact__link" href="linkedin.com/koravich-sangkaew" target="_blank">
                    Koravich Sangkaew
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Medium:</dt>
            <dd class ="contact__details">
                <a class="contact__link" href="https://medium.com/@kwankoravich" target="_blank">
                    @kwankoravich
                </a>
            </dd>
        </div>
    </di>
</main>
{% endblock %}
