<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a>
        Hello World
    </a>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
    <main class ="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt = "how to build fastai in image classification"
            />
            <article class = "project">
                <article class = "project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>
                    <p>
                        
                    </p>
                </article>
            </article>
        </div>
    </main>



{% endblock %}