<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a>
        Hello World
    </a>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
<!-- https://towardsdatascience.com/deep-learning-projects-with-fastai-from-model-training-to-deployment-2be3135bd757 -->
    <main class ="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt = "how to build fastai in image classification"
            />
            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>
                    <p>
                        Has anyone encountered how to build the complicated deep learning model? Nowadays, there is a powerful tool to construct the machine learning model with a few codes such as pycaret, AutoGluon, etc. Some data scientists said that these tools might have low flexibility to adjust the function and algorithm. So, the author would like to proudly present one of the most efficient tools for producing the model is fastai library which is based on PyTorch Framework.
                    </p>
                    <p>
                        In this article, the author will tour you to explore how to conduct the image classification model to diagnose COVID-19 Symptoms using X-rays. 
                    </p>
                    <p>
                        This article extracts COVID-19 Radiography database from TAWSIFUR RAHMAN AND 2 COLLABORATORS, the winner of the COVID-19 Dataset Award by Kaggle Community.
                    </p>
                    <h2 class="project__heading">Importing Essential Libraries</h2>
                    <p>
                        At first, you should download the required libraries from fastai to your local machine and let's install fastai on your computer
                    </p>
                        <img
                        class = "hero"
                        src = "/static/img/install.png"
                        alt = "pip install "
                        />
                    <p>
                        And then import the Essential libraries as you need to the notebook.
                    </p>
                        <img
                        class = "hero"
                        src = "/static/img/import.png"
                        alt = "import library"
                        />
                    <h2 class="project__heading">Dataloader</h2>
                    <p>
                        Now, creating the dataloader object along with the image dataset, fastai provides a flexibly convenient function to construct the dataloader called ImageDataLoaders API.                    </p>
                        <img
                        class = "hero"
                        src = "/static/img/dataloader.png"
                        alt = "Dataloader"
                        />
                    <p>
                        We can check the image in dataloader using show_batch
                    </p>
                        <img
                        class = "hero"
                        src = "/static/img/image_dataloader.png"
                        alt = "Dataloader"
                        />
                    <h2 class="project__heading">Model Training</h2>
                    <p>
                        ResNet architecture is widely used for image classification, it is accurate and fast for various datasets. So I decided to use ResNet50 which is a common model.
                        fastai provides the API for building the model in CNN architecture called Leaner.
                    </p>
                        <img
                        class = "hero"
                        src = "/static/img/learner.png"
                        alt = "Dataloader"
                        />
                    <p>
                        Learning rate is one of the hyperparameters to calculate loss function. Sometimes, data scientist or ML Engineer spend their time optimising the learning rate to find the best accuracy or loss with a huge time. fastai provides the best algorithm to find the initial learning rate for CNN model in Sylvain Gugger's article. Thus, we don't need to experiment anymore. To activate this algorithm, we called .lr_find API to see the graph below
                    </p>
                        <img
                            class = "hero"
                            src = "/static/img/learning rate.png"
                            alt = "Dataloader"
                        />
                    <p>
                        To train the model, we need to create fine_tine(epochs, lr)in which is the analogous system of ML models.
                    </p>
                    <dl>
                        <dt>Here, the argument would be expressed as below:</dt>
                        <li>epochs: the number of epochs for training the model</li>
                        <li>lr: the initial learning rate of this model</li>
                    </dl>
                    <p>
                        In this case, 5 epochs are fairly enough to achieve higher accuracy, almost 98%
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/training_loop.JPG"
                        alt = "Training Loop"
                    />
                    <p>
                        We can use show_results()to visualise the prediction in each image of one batch.
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/show_results.png"
                        alt = "Show result in each batch"
                    />
                    <p>
                        We can see the prediction as below
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/prediction.png"
                        alt = "Prediction"
                    />
                    <h2 class="project__heading">Interpretation Result</h2>
                    <p>
                        However, the accuracy of the model couldn’t reflect every aspect of the model and the model might overfit some classes in the dataset if the dataset is imbalanced.
                    </p>
                    <p>
                        We can also use a confusion matrix to visualise and compare the actual and predicted in each class by using plot_confusion_matrix()
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/evaluation_metric.png"
                        alt = "ClassificationInterpretation"
                    />
                    <!-- <p>
                        
                    </p> -->
                    <img
                        class = "hero"
                        src = "/static/img/confusion matrix.png"
                        alt = "Confusion Matrix"
                    />
                    <h2 class="project__heading">Class Activation Map (CAM)</h2>
                    <p>
                        Some medical experts are sometimes curious about how can we explain deep learning model architecture and why the model decided to predict in that class. We can utilise the Class Activation Map (CAM) to calculate the gradient last layer or the layers that we are interested in and plot it in the heatmap.
                    </p>
                    <blockquote>
                        Class activation maps are a simple technique to get the discriminative image regions used by a CNN to identify a specific class in the image. In other words, a class activation map (CAM) lets us see which regions in the image were relevant to this class
                    </blockquote>
                    <p>
                        In fastai, we can use fastai.callback.hookto call the last layer of CNN model to calculate the gradient
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/cam.png"
                        alt = "Class Activation Map (CAM)"
                    />
                    <p>
                        To sum up, we can see the heatmap to show what region in images the model decides to predict in that class.
                    </p>
                    <img
                        class = "hero"
                        src = "/static/img/heatmap_cam.png"
                        alt = "Example of Class Activation Map"
                    />
                    <h2 class="project__heading">Conclusion</h2>
                    <p>
                        Finally, it is undeniable that fastai is a useful tool for building deep learning models such in NLP, Computer Vision and Time-series classification fields.
                    </p>
                    <p>
                        Compared to the classical approach, fastai is to spend lesser time and lower the number of code lines.
                    </p>
                    <p>
                        fastai also provides various and essential APIs to create DataLoader, Learner (Model), Confusion Matrix, etc.
                    </p>
                </article>
            </article>
            <section>
            <!-- <div> -->
                <article class="project__meta-group">
                    <h3 class = "project__heading project__heading--meta"> Technologies used</h3>

                    <ul class="technology-list">
                        <li class="technology-list__item">Python</li>
                        <li class="technology-list__item">PyTorch</li>
                        <li class="technology-list__item">fastai</li>
                    </ul>
                </article>
            </section>
            <!-- </div> -->
        </div>
    </main>



{% endblock %}